<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.url }}"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.url }}blog.html">Angular</a></li>
        <li><a href="{{ site.baseurl }}blog.html">Javascript</a></li>
        <li><a href="{{ site.baseurl }}blog.html">CSS</a></li>
        <li><a href="{{ site.baseurl }}about-me.html">About me</a></li>
        <li><a href="{{ site.baseurl }}projects.html">PROJECTS</a></li>
        <!-- <li><a href="http://biomadeira.github.io/vitae">RESUME</a></li> -->
      </ul>
    </div>
  </div>
</nav>